<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Etsy Suite"  thread-count="5" verbose="1" parallel="tests" >

<test  name="E2E_EclipsetoJenkins">
    <classes>
    	<class name="etsyTests.RegisterPageTest"/> 
      	<class name="etsyTests.SigninPageTest"/>
      	<class name="etsyTests.HomePageTest"/>     	
      	<class name="etsyTests.HomeNLivingTest"/>
       	<class name="etsyTests.CraftSuppliesTest"/>           
    </classes>
</test>
 
</suite> 


